{% extends "master.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="back-arrow-container">
        <a href="{% url 'login' %}" class="back-arrow">←</a>
</div>

<div class="login-register-box container">
    <h1>Create Account</h1>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red; text-align:center; font-weight:600;">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" required>
        </p>

        <p>
            <label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email" required>
        </p>

        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" required>
        </p>

        <p>
            <label for="id_confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="id_confirm_password" required>
        </p>

        <div>
            <button type="submit" class="login-register-btn">Sign up</button>
        </div>
    </form>

    <span class="login-register-link">
        Already have an account? <a href="{% url 'login' %}">Login</a>
    </span>
</div>

{% endblock %}
